.hand-wash .column {
    display: flex;
    justify-content: center;
}

.hand-wash .column .main-image img {
    width: 25vw;
}

.hand-wash .column .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hand-wash .column .box-container .box {
    text-align: center;
    margin: 2rem;
}

.hand-wash .column .box-container .box img {
    width: 17rem;
    height: 17rem;
    padding: 1rem;
}

.hand-wash .column .box-container .box h3 {
    font-size: 2rem;
    color: var(--blue);
}